@import "breakpoints";

.headphones-header {
  color: $c-pri-white;
  background-color: rgb(25, 25, 25);
  padding-top: 96px;
  width: 100%;
  height: 336px;
  display: flex;
  justify-content: center;

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1110px;
  }

  @include breakpoint(mobile) {
    height: 192px;
  }
}

.headphones-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 140px;

  @include breakpoint(mobile) {
    margin-bottom: 80px;
  }
}
