.headphones-header {
  color: $c-pri-white;
  background-color: rgb(25, 25, 25);
  padding-top: 96px;
  width: 100%;
  height: 336px;
  display: flex;
  justify-content: center;

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1110px;
    border-top: hsla(0, 0%, 100%, 0.2) solid 1px;
  }
}

.headphones-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
