// Fonts

$mainFont: "Manrope", sans-serif;

//Primary colors
$c-pri-black: hsl(0, 0%, 0%);
$c-pri-orange: hsl(22, 65%, 57%);
$c-pri-grey: hsl(0, 0%, 95%);
$c-pri-white: hsl(0, 0%, 100%);
$c-pri-red: #cd2c2c;

//Secondary colors
$c-sec-orange: hsl(21, 94%, 75%);
$c-sec-grey: hsl(0, 0%, 50%);
