@import "vars";
@import "bestGear";
@import "footer";
@import "headphones";
@import "speakers";
@import "earphones";
@import "productCategories";
@import "homeMain";
@import "nav";
@import "item";
@import "fonts";
@import "cta";
@import "checkout";
@import "cart";
@import "product";
@import "orderModal";
@import "breakpoints";

* {
  margin: 0;
  box-sizing: border-box;
  font-family: $mainFont;
}

.logo {
  width: 143px;
  height: 25px;
  margin-top: 5px;
}
